.sidebar{
    display: flex;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    background: #0f0f0f;
}

.chat-nav-item{
    display: block;
    padding: 7px;
    padding-left: 12px;
    margin: 2px;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: small;
}

.chat-nav-item:hover{
    background: #1a1a1a;
    cursor: pointer;
}

.chats-list{
    min-height: 0;
    /* display: flex; */
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.logo{
    height: 30px;
    margin:10px;
    
    /* aspect-ratio: 1/1; */
}

.logo-container{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

.logo-text{
    align-self: center;
    background: linear-gradient(135deg, #667eea 0%, #f093fb 50%, #f5576c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    font-size: 1.3rem;
}

.sideHeading{
    padding: 7px;
    padding-left: 12px;
    margin: 2px;
    color: rgb(167, 149, 250);
    text-align: left;
    font-size: medium;
    font-weight: bold;
    /* font-weight: 600; */
}

.new-chat{
    justify-content: space-between;
    display: flex;
    padding: 7px;
    padding-left: 12px;
    margin: 2px;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: small;
    align-items: center;
}

.new-chat:hover{
    background: #1a1a1a;
    cursor: pointer;
}